@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

html {
  overflow-x: hidden;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin: 85px auto;
  overflow: auto;
  background-color:whitesmoke;
  min-height: 300px;
  border: 1px solid RGB(0,0,0, 0.2);
  padding: 30px 40px 10px 35px;
  border-radius: 5px;
}

::-webkit-scrollbar {
  width: 12px;
  border: 1px solid rgb(0, 0, 0, 0.2);
}

::-webkit-scrollbar-thumb {
  background: rgba(210, 210, 210, 0.8);
  -webkit-box-shadow: inset 0 0 6px rgb(0 0 0 / 50%);
  -moz-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 0 6px rgb(0 0 0 / 50%);
}

.header {
  display: flex;
	justify-content: center;
  margin-bottom: 20px;
}

input {
  inherits: none;
}
input[type="submit"]{
  border-radius:3px;
}
.btn {
  background: #000;
  color: #fff;
  border: none;
  padding: 5px 13px;
  margin-top: 17px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}

.btn:focus {
  outline: none;
}

.btn:active {
  transform: scale(0.98);
}

.btn-block {
  display: block;
	float: right;
}

.add-form {
  margin-bottom: 16px;
}

.form-control {
  margin: 20px 0;
}

.form-control label {
	padding-left: 5px;
  display: block;
}

.form-control input {
  width: 100%;
  height: 40px;
  margin: 5px;
  padding: 3px 7px;
  font-size: 17px;
}

.form-check {
  display: inline-block;
  padding-top: 20px;
  padding-left: 10px;
	
}

.checkbox {
	display: inline-block;
	margin-left: 10px;
}

a {
  color: gray;
  text-decoration: none;
}

a:hover {
  color: red;
}

.link-block {
  font-size: 12px;
  padding-right: 20px;
  padding-left: 10px;
  display: inline-block;
}

.social-media {
  display: flex;
  flex-wrap: nowrap;
  padding-left: 185px;
  padding-top: 20px;
  width: 90px;
}

i {
  cursor: pointer;
}

.container-account {
  display: flex;
  background-color:whitesmoke;
  max-width: 90%;
  margin: 85px auto;
  overflow: auto;
  min-height: 300px;
  border: 1px solid RGB(0,0,0, 0.2);
  padding: 30px;
  border-radius: 5px;
}
.form-control-account {
  margin: 12px 0px 12px 25px;
  width: 100%;
  display: inline-block;
}

.form-control-account input {
  margin: 0px;
  border-radius: 3px;
  width: 100%;
  height: 40px;
  margin-top: 5px;
  padding: 3px 7px;
  font-size: 17px;
  border: 1px solid #ced4da;
}

.form-control-account input:enabled:hover {
  border-color: #2196F3;
}

.form-control-account input:enabled:focus {
  outline: 0 none;
  outline-offset: 0;
  -webkit-box-shadow: 0,0,0, 0.2rem #a6d5fa;
  box-shadow: 0,0,0, 0.2rem #a6d5fa;
  border-color: #2196F3;
}

 .p-input-icon-right > .p-inputtext {
  margin-left: 2rem;
} 

.form-control-main label {
  padding-left: 20px;
  display: block;
}

.info {
  display: inline-block;
  color: grey;
  font-size: 12px;
  margin-left: 10px;
}

.container-menu {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  background: whitesmoke;
  width: 100%;
  height: 80px;
  margin: 25px auto;
  border: 1px solid RGB(0,0,0, 0.2);
  border-radius: 5px;
}

.menu-content {
  display: inline-flex;
  list-style: none;
}

.menu-bar {
  display: none;
}

.pi-shopping-cart {
  position: absolute;
  font-size: 1.8rem;
  top: 53px;
  left: 30px;
}

.logoName {
  font-size: 15px;
  display: inline-block;
  position: absolute;
  top: 55px;
  left: 70px;
}

@media only screen and (max-width: 600px) {
  .menu-content {
    display: none;
  }
  .menu-bar {
    display: inline-flex;
    align-items: center;
    padding-left: 10px;
  }

  .container-slider {
    flex-direction: column;
  }

  .pi-shopping-cart  {
    left: 70px;
  }

  .logoName {
    left: 110px;
  }
}

@media only screen and (min-width: 600px) {
  
}

.social-media-menu {
  display: inline-flex;
  justify-content: flex-end;
  margin-top: 30px;
  margin-left: 50px;
  float: right;
}

.search-bar {
  display: inline-flex;
  height: 35px;
  margin: 22px 0 0 300px;
}

/* Search bar box shadow */
/* .p-inputtext:enabled:focus {
    outline: 0 none;
    outline-offset: 0;
    box-shadow: 0 0 0 0.2rem #f5043c;
    border-color: #f1f1f1;
} */
/* Slider */
.container-slider {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  background-size: 50%;
  background-position: top;
  background-repeat: space;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  height: 300px;
  margin: auto;
  /* border: 1px solid black; */
  min-height: 300px;
  border-radius: 5px;
}

/* Container Dots */
.div-dots {
  display: inline-flex;
  position: relative;
  align-items: flex-end;
  margin-left: 640px;
}

/* Botões do slide */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  border: 2px solid #717171;
}

.adjust-header {
  width: 913px;
  width: 50%;
  height: 80px;
}

.container-menu > ul {
  padding-left: 200px;
}

.menu-content > li {
  cursor: pointer;
  display: inline-block;
  height: 53px;
  padding-top: 25px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 18px;
  border-radius: 0 3px 3px 0;
}


.menu-content > li:hover {
  padding-bottom: 50px;
  border-width: 2px;
  transition: 0.6s ease;
  user-select: none;
  background-color: rgba(235, 117, 117, 0.4);
}

.container-mercado {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow: hidden;
}

.container-mercado1 {
  cursor: pointer;
  display: inline-flex;
  background-image: url("../imgs/market1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  margin-top: 100px;
  margin-left: 100px;
  width: 400px;
  height: 400px;
  border-radius: 5px;
}

.container-mercado2 {
  cursor: pointer;
  display: inline-flex;
  background-image: url("../imgs/market2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 637px;
  position: absolute;
  right: 100px;
  width: 400px;
  height: 400px;
  border-radius: 5px;
}

.container-footer {
  background: none;
  width: 100%;
  height: 80px;
  margin-top: 20px;
  border: 1px solid RGB(0,0,0, 0);
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 81%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: black;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

@keyframes right {
  from {right: 0px;}
  to {left: -1000px;}
}

@keyframes right2 {
  from {left: 10px;}
  to {left: -1000px}
}

@keyframes left {
  from {right: 0px;}
  to {left: 1200px;}
}

@keyframes left2 {
  from {right: -220px;}
  to {right: -1400px;}
}


.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  color:"red";
  background-color: rgba(0,0,0,0.8);
}


.text {
  color: #bbb;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.active, .dot:hover {
  background-color: #717171;
}


.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.sliderImage1 {
  background-image: url("../imgs/img1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.sliderImage2 {
  background-image: url("../imgs/img2.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.sliderImage3 {
  background-image: url("../imgs/slider.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.scroll-menu {
  width: 100%;
  height: 100px;
  margin-top: 40px;
  border: 1px solid rgba(0,0,0,0.2);
  border-radius: 5px;
  background: whitesmoke;
}

.scrollMenu-content {
  height: 100px;
}

.container-imgs {
  position: absolute;
  margin-left: 300px;
}
.div-imgs {
  position: absolute;
  height: 100px;
  margin: 0px;
  width: 200px;
  padding: 0px 50px 0px 50px;
}

.div-imgs.bebidas {
  left: 200px;
}

.div-imgs.carnes {
  left: 400px;
}

.div-imgs.massas {
  left: 600px;
}



.div-imgs > li  {
  list-style: none;
  width: 65px;
  font-size: 15px;
  padding-left: 25px;
  color: rgba(0,0,0,0.6)
}

.div-imgs > img {
  padding-top: 5px;
  padding-left: 20px;
  width: 80%;
  margin-right: 100px;
  position: relative;
}

.div-imgs:hover {
  cursor: pointer;
  transition: 0.6s ease;
  user-select: none;
  background-color: rgba(194, 101, 101, 0.4);
} 

.header-pagamento {
  color: rgba(0,0,0,0.8);
  text-align: center;
  font-size: 25px;
  text-shadow: 1px 2px #f1f1f1;
  margin: 25px auto;
  width: 100%;
  border-top: .2px solid rgba(0, 0, 0, 0.2);
  border-bottom: .2px solid rgba(0, 0, 0, 0.2);
  padding-top: 25px;
  padding-bottom: 5px;
}

.container-pagamento {
  width: 80%;
  margin: 50px auto;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.container-paymentMethods {
  /* Aplicar nas divisórias */
  margin: 100px auto;
  height: 500px;
  padding: 40px;
  width: 80%;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.paymentMethods > ul > li {
  list-style: none;
}

.adress, .paymentMethods, .promotionalCode {
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.5);
  margin-bottom: 5px;
  border: 1px solid rgb(0, 0, 0, 0.2);
}

.adress > label, .paymentMethods > label, .promotionalCode > label {
  display: flex;
  flex-flow: row;
  flex-direction: row;
  margin-bottom: 10px;
  background: black;
  color: #f1f1f1;
  width: 100%;
}

.paymentMethods > small {
  margin: 10px;
  padding-top: 15px;
  padding-right: 745px;
  border-bottom: 2px solid black;
}
